@(message: String)
@import helper._
@main(message) {
  <h1>@message</h1>
  <h2>Upload to file on Play server</h2>
  @helper.form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {
    <input type="file" name="file"> <input type="submit" value="Upload">
  }

  <h2 style="margin-top: 30pt">Upload to AWS S3 Bucket</h2>
  <p>You will need to supply your AWS credentials as environment variables before you start Play in order for this to work.</p>
<pre>export awsAccessKey   = "yourAwsAccessKey"
export awsSecretKey   = "yourAwsSecretKey"
export awsBucketName  = "yourAwsBucketName"</pre>
  @helper.form(action = routes.Application.uploadAWS, 'enctype -> "multipart/form-data", 'method -> "post") {
    <!-- <table>
      <tr>
        <th>AWS account name:</th>
        <td><input name="awsAccountName" size="20" /></td>
      </tr>
      <tr>
        <th>AWS access key:</th>
        <td><input name="awsAccessKey" size="20" /></td>
      </tr>
      <tr>
        <th>AWS secret key:</th>
        <td><input name="awsSecretKey" size="20" /></td>
      </tr>
      <tr>
        <th>AWS bucket name:</th>
        <td><input name="awsBucketName" size="20" /></td>
      </tr>
    </table> -->
    <input type="file" name="file"> <input type="submit" value="Upload">
  }
}
